<h1><%= @task.title %></h1>

<div><%= @task.details %></div>

<div><%#= @tasks.completed %></div>

<div><%= link_to "Back to list", root_path %></div>
<div><%= link_to "Edit task", edit_task_path(@task) %></div>
